<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Favicon-->
    <link rel="icon" type="image/ico" href="resources/favicon.ico">

    <!--Custom JS-->
    <script src="bower/js/gruntscripts.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/api.js" type="text/javascript"></script>
    <script src="js/controller/index.controller.js" type="text/javascript"></script>

    <!--Custom CSS-->
    <link rel="stylesheet" href="bower/css/gruntstyles.css">

    <link rel="stylesheet" href="css/main.css">

    <title>Third party ETPA</title>

</head>
<body ng-app="third_party" ng-controller="indexController">

<div class="header">
    <div layout="row">
        <div flex="33">
            <md-button class="header-logo-button">
                <img src="resources/etpa_logo.png"
                     class="header-logo"
                     aria-label="ETPA logo - home">
            </md-button>
        </div>
        <h1 flex="33" class="title">ETPA - Third party</h1>
    </div>
</div>

<div ui-view class="view">
    <div layout-margin class="layout-margin">

        <div flex md-whiteframe="3" class="md-whiteframe-3dp tasks">

            <md-toolbar>
                <div class="md-toolbar-tools toolbar-text">
                    <h3 class="ng-binding">APX {{ date }}</h3>
                </div>
            </md-toolbar>

            <div layout-padding class="layout-padding" layout="column">

                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Order</th>
                            <th md-column>Hour</th>
                            <th md-column>Net Volume (MWh)</th>
                            <th md-column>Price (&euro;/MWH)</th>
                        </tr>
                        </thead>

                        <tbody >
                        <tr md-row ng-repeat="data in apxData track by $index">
                            <td md-cell>{{ data.number }}</td>
                            <td md-cell>{{ data.hour }}</td>
                            <td md-cell>{{ data.volume }}</td>
                            <td md-cell>{{ data.price }}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

        </div>

        <md-divider></md-divider>

        <div flex md-whiteframe="3" class="md-whiteframe-3dp tasks">

            <md-toolbar>
                <div class="md-toolbar-tools toolbar-text">
                    <h3 class="ng-binding">Regeltoestand 2 {{ dateRegel }}</h3>
                </div>
            </md-toolbar>

            <div layout-padding class="layout-padding" layout="column">

                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>PTU</th>
                            <th md-column>From</th>
                            <th md-column>To</th>
                            <th md-column>Upwards dispatch</th>
                            <th md-column>Downwards dispatch</th>
                            <th md-column>Take from system</th>
                            <th md-column>Feed into system</th>
                            <th md-column>Regulation state</th>
                        </tr>
                        </thead>

                        <tbody >
                        <tr md-row ng-repeat="data in regelData track by $index">
                            <td md-cell>{{ data.ptu }}</td>
                            <td md-cell>{{ data.from }}</td>
                            <td md-cell>{{ data.to }}</td>
                            <td md-cell>{{ data.upwardsDispatch }}</td>
                            <td md-cell>{{ data.downwardsDispatch }}</td>
                            <td md-cell>{{ data.takeFromSystem }}</td>
                            <td md-cell>{{ data.feedIntoSystem }}</td>
                            <td md-cell>{{ data.regulationState }}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

        </div>

        <div layout="row">

            <div flex md-whiteframe="3" class="md-whiteframe-3dp tasks">

                <md-toolbar>
                    <div class="md-toolbar-tools toolbar-text">
                        <h3 class="ng-binding">ENTSO-E TODO</h3>
                    </div>
                </md-toolbar>

                <div layout-padding class="layout-padding" layout="row">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis commodo nisi. Vivamus luctus orci
                    odio, sit amet ultricies metus feugiat et. Phasellus sodales ipsum sed arcu consequat mattis. Cras
                    sagittis mattis arcu, vel maximus urna placerat laoreet. Etiam ac elit lectus. Donec at nibh
                    pharetra, tempus ligula eget, mattis lectus. In eu ante sit amet tortor sodales sodales. Vestibulum
                    pretium tortor eros, ut aliquam risus iaculis eu. Praesent tristique risus eget erat venenatis
                    cursus. Donec ullamcorper aliquet commodo.

                    Integer hendrerit diam est, sit amet blandit massa ullamcorper quis. Mauris bibendum commodo lacus,
                    vitae consequat sapien pretium at. Vestibulum ultricies tincidunt enim, a porta nulla bibendum quis.
                    Mauris enim augue, dapibus sed dui id, rhoncus maximus ligula. Donec eleifend ac neque at lobortis.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse a
                    lectus ac velit aliquam lacinia. Integer vitae mauris quam. Morbi malesuada facilisis libero, nec
                    consectetur ex faucibus quis. Mauris massa lectus, faucibus sed laoreet eget, placerat vestibulum
                    metus. Mauris nec maximus libero.

                    Mauris non facilisis nisi. Aliquam non libero nulla. Suspendisse tempus mauris eu dolor malesuada,
                    ut semper nunc rutrum. Sed vitae diam venenatis, fringilla nunc at, ultricies ex. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus facilisis,
                    ipsum eget mollis scelerisque, tellus lorem scelerisque purus, vitae sagittis sapien tortor vitae
                    est. Aenean in mi lorem. Aliquam risus quam, convallis id nibh at, gravida mollis dolor. Morbi
                    laoreet arcu et magna mollis luctus. Nulla rutrum mollis urna eu feugiat.

                    Quisque et diam risus. Proin maximus eros id nisl pretium, eu euismod lectus vulputate. Nam in urna
                    pellentesque, pellentesque nisi quis, gravida nisl. Nulla congue, lacus sed posuere lobortis, tellus
                    est aliquet mi, quis laoreet sem nisl non quam. Nunc quis magna egestas, congue velit ut, elementum
                    tellus. Integer dignissim nec enim in fringilla. Cras dignissim diam eget lectus mattis, non
                    suscipit nulla blandit. In mollis ipsum sed elit cursus varius. Ut tellus erat, euismod ac tempus
                    nec, gravida nec nunc.

                    Proin sit amet odio bibendum, tempor velit id, semper nibh. Aenean arcu leo, mattis nec eros in,
                    lacinia fermentum elit. Vestibulum placerat turpis ex, ut gravida eros faucibus non. Ut at urna
                    mollis, egestas lacus id, bibendum quam. Quisque lobortis lobortis consectetur. Praesent viverra
                    risus nec erat laoreet ullamcorper. Suspendisse potenti. Mauris eget rhoncus diam. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porttitor
                    erat nec libero consequat lobortis. Maecenas sit amet gravida lectus, vel scelerisque diam.

                    Quisque ultrices sapien vitae dolor pretium commodo. Nunc pulvinar tortor a lectus luctus malesuada.
                    Vestibulum sodales nunc at lacus posuere volutpat. Mauris eget mattis mi, id molestie lacus.
                    Maecenas elementum ipsum ac velit consectetur aliquet quis in nibh. Morbi accumsan mattis ex sed
                    commodo. Maecenas viverra ac lectus sit amet feugiat. Quisque vel commodo ex, et molestie ante.
                    Aliquam mauris massa, tincidunt ut tempor ultricies, tempus non massa. Nulla vitae velit suscipit,
                    egestas eros vitae, hendrerit ante. Mauris non pulvinar tellus. Suspendisse et arcu quis mi
                    hendrerit sagittis.

                    Pellentesque sodales molestie diam, in viverra nisi tempus a. Nulla eget libero non nisl auctor
                    volutpat. Morbi consequat, quam vitae malesuada auctor, elit tellus hendrerit elit, nec sollicitudin
                    leo lectus non neque. Aliquam erat volutpat. Donec at luctus dolor. Sed in sem interdum, maximus
                    velit eu, tristique dolor. Vivamus maximus eget nisl non congue. Praesent euismod sagittis ex.
                    Mauris tristique in odio vel imperdiet. Nullam porttitor, sapien quis convallis finibus, magna leo
                    vulputate leo, et tincidunt neque orci non ex. Morbi feugiat, ligula in fermentum rutrum, ex sapien
                    mattis justo, vitae fermentum ligula ante vitae tellus.

                    Aenean in euismod mauris. Integer aliquet, nisl vel faucibus volutpat, ex metus mattis ex, nec
                    vestibulum urna elit vel turpis. Morbi leo sapien, vulputate sit amet lectus vitae, ultrices egestas
                    sapien. Etiam tristique mi lacus, sed tempus purus semper sit amet. Ut sed sollicitudin elit.
                    Suspendisse nibh felis, iaculis accumsan vestibulum nec, facilisis sed leo. Vivamus congue ipsum nec
                    fringilla laoreet. Sed cursus, lorem at ultricies pretium, metus arcu pulvinar risus, tincidunt
                    ultricies velit neque et purus. Quisque a pharetra est. Integer ultricies aliquam odio, non posuere
                    metus aliquam vitae. Aliquam vestibulum dui id rutrum condimentum. Suspendisse vulputate risus quis
                    arcu ullamcorper pulvinar fringilla a mi.

                    Nulla sit amet sollicitudin ligula. Suspendisse varius vestibulum ultricies. Ut a tincidunt ligula.
                    Nam feugiat, magna quis tristique accumsan, eros nunc pulvinar sem, ut gravida risus nulla non
                    lorem. Aliquam elementum urna at elit pulvinar placerat. Sed porta mi in orci egestas elementum. In
                    augue est, vestibulum a nunc at, tempus maximus enim. Aenean eu lorem in lacus hendrerit scelerisque
                    ut sit amet ante. Aenean varius at justo faucibus iaculis.

                    Proin sed turpis non nisi rutrum vulputate. Proin pellentesque molestie placerat. Mauris tempor nisl
                    in tempus volutpat. Donec orci risus, ultrices sed fermentum sit amet, pretium vitae ipsum. Praesent
                    vel condimentum odio, eget varius diam. Nunc tempor sodales venenatis. Morbi in tortor vulputate ex
                    ullamcorper vehicula. Praesent tempus euismod molestie. Mauris sollicitudin consequat tristique.
                    Donec nisi dui, cursus eget nisi ac, placerat volutpat elit. Morbi varius elit eu felis lacinia
                    dapibus. Curabitur quis ex aliquet, molestie arcu a, consectetur dolor. Aliquam id elit mollis,
                    vestibulum risus ac, pharetra ex. Nam vel posuere orci. Quisque et lorem iaculis, dictum diam nec,
                    porttitor velit. Vivamus pharetra metus venenatis mi tincidunt, vitae bibendum lectus consequat.
                </div>

            </div>
            <div flex md-whiteframe="3" class="md-whiteframe-3dp tasks">

                <md-toolbar>
                    <div class="md-toolbar-tools toolbar-text">
                        <h3 class="ng-binding">Tennet operationele berichtgeving TODO</h3>
                    </div>
                </md-toolbar>

                <div layout-padding class="layout-padding" layout="row">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis commodo nisi. Vivamus luctus orci
                    odio, sit amet ultricies metus feugiat et. Phasellus sodales ipsum sed arcu consequat mattis. Cras
                    sagittis mattis arcu, vel maximus urna placerat laoreet. Etiam ac elit lectus. Donec at nibh
                    pharetra, tempus ligula eget, mattis lectus. In eu ante sit amet tortor sodales sodales. Vestibulum
                    pretium tortor eros, ut aliquam risus iaculis eu. Praesent tristique risus eget erat venenatis
                    cursus. Donec ullamcorper aliquet commodo.

                    Integer hendrerit diam est, sit amet blandit massa ullamcorper quis. Mauris bibendum commodo lacus,
                    vitae consequat sapien pretium at. Vestibulum ultricies tincidunt enim, a porta nulla bibendum quis.
                    Mauris enim augue, dapibus sed dui id, rhoncus maximus ligula. Donec eleifend ac neque at lobortis.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse a
                    lectus ac velit aliquam lacinia. Integer vitae mauris quam. Morbi malesuada facilisis libero, nec
                    consectetur ex faucibus quis. Mauris massa lectus, faucibus sed laoreet eget, placerat vestibulum
                    metus. Mauris nec maximus libero.

                    Mauris non facilisis nisi. Aliquam non libero nulla. Suspendisse tempus mauris eu dolor malesuada,
                    ut semper nunc rutrum. Sed vitae diam venenatis, fringilla nunc at, ultricies ex. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus facilisis,
                    ipsum eget mollis scelerisque, tellus lorem scelerisque purus, vitae sagittis sapien tortor vitae
                    est. Aenean in mi lorem. Aliquam risus quam, convallis id nibh at, gravida mollis dolor. Morbi
                    laoreet arcu et magna mollis luctus. Nulla rutrum mollis urna eu feugiat.

                    Quisque et diam risus. Proin maximus eros id nisl pretium, eu euismod lectus vulputate. Nam in urna
                    pellentesque, pellentesque nisi quis, gravida nisl. Nulla congue, lacus sed posuere lobortis, tellus
                    est aliquet mi, quis laoreet sem nisl non quam. Nunc quis magna egestas, congue velit ut, elementum
                    tellus. Integer dignissim nec enim in fringilla. Cras dignissim diam eget lectus mattis, non
                    suscipit nulla blandit. In mollis ipsum sed elit cursus varius. Ut tellus erat, euismod ac tempus
                    nec, gravida nec nunc.

                    Proin sit amet odio bibendum, tempor velit id, semper nibh. Aenean arcu leo, mattis nec eros in,
                    lacinia fermentum elit. Vestibulum placerat turpis ex, ut gravida eros faucibus non. Ut at urna
                    mollis, egestas lacus id, bibendum quam. Quisque lobortis lobortis consectetur. Praesent viverra
                    risus nec erat laoreet ullamcorper. Suspendisse potenti. Mauris eget rhoncus diam. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porttitor
                    erat nec libero consequat lobortis. Maecenas sit amet gravida lectus, vel scelerisque diam.

                    Quisque ultrices sapien vitae dolor pretium commodo. Nunc pulvinar tortor a lectus luctus malesuada.
                    Vestibulum sodales nunc at lacus posuere volutpat. Mauris eget mattis mi, id molestie lacus.
                    Maecenas elementum ipsum ac velit consectetur aliquet quis in nibh. Morbi accumsan mattis ex sed
                    commodo. Maecenas viverra ac lectus sit amet feugiat. Quisque vel commodo ex, et molestie ante.
                    Aliquam mauris massa, tincidunt ut tempor ultricies, tempus non massa. Nulla vitae velit suscipit,
                    egestas eros vitae, hendrerit ante. Mauris non pulvinar tellus. Suspendisse et arcu quis mi
                    hendrerit sagittis.

                    Pellentesque sodales molestie diam, in viverra nisi tempus a. Nulla eget libero non nisl auctor
                    volutpat. Morbi consequat, quam vitae malesuada auctor, elit tellus hendrerit elit, nec sollicitudin
                    leo lectus non neque. Aliquam erat volutpat. Donec at luctus dolor. Sed in sem interdum, maximus
                    velit eu, tristique dolor. Vivamus maximus eget nisl non congue. Praesent euismod sagittis ex.
                    Mauris tristique in odio vel imperdiet. Nullam porttitor, sapien quis convallis finibus, magna leo
                    vulputate leo, et tincidunt neque orci non ex. Morbi feugiat, ligula in fermentum rutrum, ex sapien
                    mattis justo, vitae fermentum ligula ante vitae tellus.

                    Aenean in euismod mauris. Integer aliquet, nisl vel faucibus volutpat, ex metus mattis ex, nec
                    vestibulum urna elit vel turpis. Morbi leo sapien, vulputate sit amet lectus vitae, ultrices egestas
                    sapien. Etiam tristique mi lacus, sed tempus purus semper sit amet. Ut sed sollicitudin elit.
                    Suspendisse nibh felis, iaculis accumsan vestibulum nec, facilisis sed leo. Vivamus congue ipsum nec
                    fringilla laoreet. Sed cursus, lorem at ultricies pretium, metus arcu pulvinar risus, tincidunt
                    ultricies velit neque et purus. Quisque a pharetra est. Integer ultricies aliquam odio, non posuere
                    metus aliquam vitae. Aliquam vestibulum dui id rutrum condimentum. Suspendisse vulputate risus quis
                    arcu ullamcorper pulvinar fringilla a mi.

                    Nulla sit amet sollicitudin ligula. Suspendisse varius vestibulum ultricies. Ut a tincidunt ligula.
                    Nam feugiat, magna quis tristique accumsan, eros nunc pulvinar sem, ut gravida risus nulla non
                    lorem. Aliquam elementum urna at elit pulvinar placerat. Sed porta mi in orci egestas elementum. In
                    augue est, vestibulum a nunc at, tempus maximus enim. Aenean eu lorem in lacus hendrerit scelerisque
                    ut sit amet ante. Aenean varius at justo faucibus iaculis.

                    Proin sed turpis non nisi rutrum vulputate. Proin pellentesque molestie placerat. Mauris tempor nisl
                    in tempus volutpat. Donec orci risus, ultrices sed fermentum sit amet, pretium vitae ipsum. Praesent
                    vel condimentum odio, eget varius diam. Nunc tempor sodales venenatis. Morbi in tortor vulputate ex
                    ullamcorper vehicula. Praesent tempus euismod molestie. Mauris sollicitudin consequat tristique.
                    Donec nisi dui, cursus eget nisi ac, placerat volutpat elit. Morbi varius elit eu felis lacinia
                    dapibus. Curabitur quis ex aliquet, molestie arcu a, consectetur dolor. Aliquam id elit mollis,
                    vestibulum risus ac, pharetra ex. Nam vel posuere orci. Quisque et lorem iaculis, dictum diam nec,
                    porttitor velit. Vivamus pharetra metus venenatis mi tincidunt, vitae bibendum lectus consequat.
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>