.header-logo-button {
    height: 40px;
    margin: 0 0 0 0;
    float: left;
}

.header-logo {
    height: 50px;
    line-height: 0;
}

.logo-div {
    max-width: 20em !important;;
}

.header {
    min-height: 3em;
    background-color: rgb(33, 150, 243);
    text-align: center;
    color: rgb(255, 255, 255);
}

.page-header {
    margin: 1em 0 .6em 0.2em !important;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    content: "";
    font-weight: normal;
    white-space: nowrap;
}

.main {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-left: 0.2em !important;
}

.toolbar-text {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

